.timer {
  position: absolute;
  bottom: 50px;
  color: white;
  font-size: 20px;
  width: 100%;
}

.timer:hover {
  cursor: default;
}

.timer > * {
  position: absolute;
  background: rgba(255, 0, 0, 0.3);
  border-radius: 13px;
  padding: 0 10px;
}
.timer .elapsed {
  left: 20px;
}
.timer .total {
  right: 20px;
}
