.position {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #01a6c6;
  border-radius: 50%;
  border: double rgba(0, 0, 255, 0.3);
}

.position .id {
  position: relative;
  cursor: default;
  color: white;
  font-size: 20px;
  display: table;
  margin: 0 auto;
  line-height: 30px;
}
